:root {
/* Colors*/
    --white: hsla(0, 0%, 100%,1);
    --primary: hsla(219, 95%, 49%,1);
    --primaryHover: hsla(219, 95%, 25%,1);  

    --secondary: hsla(139, 100%, 28%,1);
    --secondaryHover: hsla(139, 100%, 23%,1); 

    --black: hsla(219, 95%, 15%,1);
    --text: hsla(240, 64%, 27%,1);
       
/* Card dimension  */
    --cardWidth: 30%;
    --cardHeight: 20rem;
    --cardMargin: 1rem;

    @media only screen and (max-width: 519px)  {
      --cardWidth: 33%;
    }
}

html {
  box-sizing: border-box;
  margin: 0px auto;
  padding: 0px;
  color: red;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  max-width: 90rem;
}

/* Headings CSS */
h1, h2, h3, h4, h5, h6, p {
    color: var(--primaryHover);
    font-weight: bold;
    margin-block-start: 0;
    margin-block-end: 0; 
    }

p {
  color: var(--black);
}
  
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 0.75rem;
  }
  
  h3 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  }

  h3.title {
    
    margin-top: 2rem;
    margin-left:1rem ;
    display: block;
    width: 100%;
  } 
  
  h4 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  h5 {
    font-size: 1.2rem;
    margin-bottom: 0.25rem;
  }
  
  h6 {
    font-size: 1rem;
    margin-bottom: 0.25rem;
  }

  p {
   
    font-size: 0.875rem;
    font-weight: 500;
    margin-bottom: 0.25rem;
    line-height: 1.5;
  }



body {
    margin: 0px;
}
  .navbar {
    background-color: var(--white);
    border-bottom: 0.1rem solid #f1f1f1;
    height: auto;
    
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    display: inline-block;
    padding: 1rem 1rem;
    
  }

  .navbar li:first-child
  {
    margin-left: 2rem;  
    

  }

  .navbar li a {
    font-weight: 700;
    display: block;
    font-size: 0.875rem;
    text-decoration: none;
    
   
  }
  
  .navbar li a:hover {
    text-decoration: underline;
    color: var(--primaryHover);
  }

header {
    background-image: url(./resources/norruth_istanbul_streets_morningtime_maelstrom_flood_under_wate_c87cb3ca-ae08-4087-a112-454e27ad7319.png);
    
    min-height: 40rem;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    border-radius: 2rem;
    margin: 2rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
}

header h1 {  
  color: var(--white);
  padding-top: 15rem;
  font-size: 3rem;
  text-align: center;
}

.description {
    color: white;
    font-size: 1rem; 
    max-width: 30rem;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 4rem;
}

.content {
    margin: 0 auto;
    width: 80%;
    margin-top: 2rem;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.card {
    width: var(--cardWidth);
    height: auto;
    margin: var(--cardMargin);
    background-color: #f1f1f1;
    padding: 1.5rem 1.5rem;
    border-radius: 1rem;

}

.content-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(32rem, auto);
  grid-gap: 0;
}

.card-grid {
    display: grid;
    width: calc(var(--cardWidth)*1rem);
    margin: var(--cardMargin);
    background-color: #f1f1f1;
    padding: 1.5rem 1.5rem;
    border-radius: 1rem;
    align-content: space-between;
  
}

.container {
  
  margin: inherit;

}

* > img.image {
    
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  }

div.card h5 , div.card-grid h5{
  color: var(--primaryHover);
  padding-top: 1rem;
  padding-bottom: calc(1rem/2);
}

button {
  width: 100%;
  font-weight: 700;
  margin: 1rem auto;
  background-color: var(--primary);
  border: 0;
  border-radius: 2rem;
  color:#FFFFFF;
  padding: 1rem 2rem;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1); 
  transition: all 500ms ease-out;
}

button:hover {
    
    cursor: pointer;
    transition-property: background-color,color;
    background-color: var(--primaryHover);
    color:cyan;
    width: 100%;
}

@media only screen and  (max-width: 1023px) {
  /* CSS styles for screens less than 1024px */
  /* Add your styles here */

  html {
    font-size:14px;
  }

  header {
    
    min-height: 16rem;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .content-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(20rem, auto);
    grid-gap: 0;
  }
}



@media only screen and (max-width: 519px)  {
  /* CSS styles for screens less than 520px */
  /* Add your styles here */

  html {
    font-size:14px;
  }

  header {
    margin: 1rem;
    min-height: 24rem;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  header h1 {
    color: var(--white);
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 3rem;
    text-align: center;
}


  .content-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(30rem, auto);
    grid-gap: 0;
  }

  
}

