* {
    box-sizing: border-box;
    margin: 0;
    line-height: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*border: 1px solid red;*/
    
}

main {
    
    width: 60%;
    margin: 0 auto;
}

.brushes,.frames,.paints{
    display: block;
    width: 100%;
}

section {
    
    padding: 1.5em;
    border: 2px solid #CCC;
    border-radius: 1em;
    max-width: 60%;
    min-width: 25%;
    margin: 2em auto;
    overflow: hidden;
}

h1 {
    
    font-size: 4em;
    font-weight: bold;
    color:khaki;
    text-align: center;
    margin: 0 auto;

    background-image: url('../Images/pattern.jpeg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-size: 100% ;
    
}

h2 {
    
    font-size: 2em;
    font-weight: bold;
    color:#333;
}

h4 {
    padding: 0.75em 0 0 0;
    font-size: 1.25em;
}

button {
    box-sizing: content-box;
    font-size: 1em;
    font-weight: 700;
    width: 100%;
    text-align: center;
    height: 3em;
    margin: 1em 0;
    background-color: black;
    color:whitesmoke;
    border: 0;
}
button:hover {
    background-color: #333;
}

.brushes h2{ 
    width: 100%;
    background-color:white;
}

.frames h2{
    background-color:white;
}

.paints h2{
    background-color:white;
}



p span {
    color:blue;
    font-size: inherit;
    font-weight: bold;
    
   
}

.brushes img,
.frames img,
.paints img{
    width: 100%;
}

